body {
    background: white;
}

h1 {
    text-align: center;
    font-family: "Electrolize", sans-serif;
}
button#start {
    position: relative;
    left: 40%;
}
button#rules {
    position: relative;
    left: 90%;
}

.player {
    color: #056AF7;
    position: relative;
    text-align: right;
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 18px;
}

.computer {
    color: #BC0E00;
    padding-top: 50px;
    font-family: "Saira Extra Condensed", sans-serif;

}

.card {
    width: 220px;
    height: 120px;
    border: 2px solid black;
}

p.card {
    text-align: center;
}

.card2 {
    width: 220px;
    height: 120px;
    border: 2px solid black;
}
