body {
    background: white;
}

h1 {
    text-align: center;
    font-family: "Electrolize", sans-serif;
}
button#start {
    position: relative;
    left: 40%;
}
button#rules {
    position: relative;
    left: 90%;
}

.player {
    color: #056AF7;
    position: relative;
    text-align: right;
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 18px;
}

.computer {
    color: #BC0E00;
    padding-top: 50px;
    font-family: "Saira Extra Condensed", sans-serif;

}

.card {
    width: 220px;
    height: 120px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}


.card2 {
    width: 220px;
    height: 120px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}

.card3 {
    width: 220px;
    height: 120px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}


.card4 {
    width: 220px;
    height: 120px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}

.board-container {
    display: flex;
    justify-content: space-between;
}

.board-container___cpu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.board-container___player {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.board-container .card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-container .card2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-container .card3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-container .card4 {
    display: flex;
    justify-content: center;
    align-items: center;
}